<div class="row d-flex justify-content-center">
  <div class="col-xl-10 col-lg-10 col-md-11 col-sm-12 card mb-3 text-center">
   <div class="w-100">
    <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="card-img-top mt-3" alt="..." width="100%">
    <div class="card-body">
      <h5 class="card-title">{{oneProduct?.title}}</h5>
      <p class="card-text">{{oneProduct?.overview}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-dark" (click)="acativeCard()">back</button>
    </div>
   </div>
  </div>
</div>